<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1093799107067-8da0d5f8942fm354tgj3v4kn43lb10uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093799107067-8da0d5f8942fm354tgj3v4kn43lb10uj</string>
	<key>API_KEY</key>
	<string>AIzaSyCklj16bBWsZJWkYjTZxQMMDl82AwExWmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1093799107067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udemy.JakeSnap</string>
	<key>PROJECT_ID</key>
	<string>jakesnap-5e837</string>
	<key>STORAGE_BUCKET</key>
	<string>jakesnap-5e837.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093799107067:ios:41fadb42a04455d2</string>
	<key>DATABASE_URL</key>
	<string>https://jakesnap-5e837.firebaseio.com</string>
</dict>
</plist>